{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports"],
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "no-public"
      }
    ],
    "unused-imports/no-unused-imports": "error",
    "curly": "error",
    "eqeqeq": "error",
    "no-throw-literal": "error",
    "semi": "error",
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"]
  },
  "ignorePatterns": ["**/*.d.ts"]
}
